#title 
	text-align: center
	padding-bottom: 50px

#control-panel
	text-align: center

#generation-counter
	text-align: center

#game-board
	text-align: center

#game-board p
	border: 1px solid black
	display: inline
