#title 
	text-align: center
	padding-bottom: 50px

#control-panel
	text-align: center

#generation-counter
	text-align: center

#game-board
	border: 1px solid black
	text-align: center
	display: inline

#board-cell
	display: inline

#board-cell input
	height: 25px
	width: 25px

.alive
	background-color: blue

.notAlive
	background-color: white
	
