body
	background-color: grey

#title 
	text-align: center

#control-panel
	text-align: center

#generation-counter
	text-align: center

#game-board
	border: 1px solid black
	text-align: center
	display: inline
	white-space: nowrap

#board-cell
	display: inline

#board-cell input
	height: 15px
	width: 15px

.alive
	background-color: blue

.notAlive
	background-color: white
	
